{% extends "base.html" %}

{% block title %}Ana Sayfa{% endblock %}

{% block content %}
    <h1>LAWIANDREW</h1>
    <p>Giriş yaparak sohbet odaları oluşturabilir ve katılabilirsiniz. En son haberleri okumayı unutmayın!</p>

    {% if not session.logged_in %}
        <p>Hemen <a href="{{ url_for('register') }}">Kayıt Olun</a> veya <a href="{{ url_for('login') }}">Giriş Yapın</a>.</p>
    {% else %}
        <p><a href="{{ url_for('dashboard') }}" style="color: #7289da;">Sohbet Odaları Panelinize</a> gitmek için tıklayın.</p>
    {% endif %}
{% endblock %}